<%= render 'show', users: @users %>
<%= render 'books/new', books: @books %>

<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title:</th>    
      <th>Opinion:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div>
          
        </div>
      </td>
      <td>
        <div>
          
        </div>
      </td>
      <td>
        <div>
        </div>
      </td>
    </tr>
  </tbody>
</table> 



